.box {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-auto-rows: auto;
  grid-gap: 10px;

  align-items: center;
  justify-content: center;
}

.card {
  display: block;
  border: black 3px solid;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 4px 4px 8px black;
  margin: 10px;
  width: 35%;
  height: 350px;
  align-items: center;
  justify-content: center;
}
