.Account {
  h1 {
    letter-spacing: 3px;
    font-size: 60px;
  }

  h3 {
    font-family: cursive;
    font-size: 40px;
    letter-spacing: 2px;
  }

  .field {
    @include fields();
  }

  .submitReg {
    @include submit();
  }

  .deleteReg {
    @include submit();
    width: 250px;
    &:hover {
      background-color: black;
    }
  }

  .fieldMoment {
    @include fields();
    width: 600px;
    height: 300px;
  }

  .selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 50%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 4px 4px 8px black;
  }

  @media (max-width: 400px) {
    h3 {
      font-size: 20px;
    }
    .fieldMoment {
      width: 300px;
      height: 150px;
    }
    .selfie {
      width: 50%;
      height: 250px;
    }
  }
}
