@mixin h1 {
  font-size: 50px;
  margin-top: 10px;
  padding: 20px;
  font-family: cursive;
}

html,
body {
  height: 100%;

  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
}

.Home {
  height: 100vh;

  color: black;
  margin-top: -1.3%;
}

.intro {
  display: flex;
  font-size: 31px;
  width: 50vw;
  height: 45vh;
  float: left;
  margin-left: 40px;
  font-family: cursive;
}

h1 {
  @include h1();
  letter-spacing: 3px;
  font-size: 60px;
}

.homePic {
  height: 55vh;
  width: 40vw;
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 4px 4px 8px black;
}

h3 {
  font-size: 50px;
  font-family: cursive;
  letter-spacing: 2px;
}

.homeBtn {
  width: 200px;
  height: 30px;
  font-family: cursive;
  letter-spacing: 2px;
  font-size: 15px;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 2px 2px 5px black;

  &:hover {
    color: darkred;
  }
}

@media (max-width: 1025px) {
  .left {
    display: block;
    position: relative;
    align-items: center;
  }
  .intro {
    font-size: 25px;
    display: block;
  }

  .homePic {
    width: 30vw;
    height: 25vh;
  }
  .right {
    display: block;
    position: relative;
    align-items: center;
  }
  h3 {
    display: block;
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .right {
    display: none;
  }
  .intro {
    width: 80vw;
    display: block;
    font-size: 12px;
    justify-content: center;
  }
  h3 {
    display: block;
    font-size: 20px;
    margin-top: 45px;
  }
}
