@mixin fields {
  width: 300px;
  height: 30px;
  font-family: cursive;
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
  letter-spacing: 1px;

  &:hover {
    background-color: white;
  }
}

.Login {
  h1 {
    letter-spacing: 3px;
    font-size: 60px;
  }
  .user {
    font-family: cursive;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .field {
    @include fields();
    box-shadow: 3px 3px 6px black;
  }
  .submit {
    width: 150px;
    height: 30px;
    font-family: cursive;
    letter-spacing: 2px;
    font-size: 15px;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 2px 2px 5px black;

    &:hover {
      color: darkred;
    }
  }
}
