@mixin fields {
  width: 300px;
  height: 30px;
  font-family: cursive;
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
  letter-spacing: 1px;
  box-shadow: 3px 3px 6px black;

  &:hover {
    background-color: white;
  }
}

@mixin submit {
  width: 150px;
  height: 30px;
  font-family: cursive;
  letter-spacing: 2px;
  font-size: 15px;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 2px 2px 5px black;

  &:hover {
    color: darkred;
  }
}

.Login {
  h1 {
    letter-spacing: 3px;
    font-size: 60px;
  }
  .user {
    font-family: cursive;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .field {
    @include fields();
  }
  .submit {
    @include submit();
  }

  .delete {
    @include submit();
    &:hover {
      background-color: black;
    }
  }
}
