@mixin Links {
  color: white;
  font-size: 20px;
  font-family: cursive;
  text-decoration: none;
}

.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background: black;
  color: rgb(91, 9, 9);

  h1 {
    letter-spacing: 6px;
    font-size: 60px;
    text-shadow: 2px 2px 4px white;
  }

  .nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .link {
    @include Links();

    &:hover {
      color: darkred;
    }
  }

  .menuButton {
    display: none;
    background: rgb(91, 9, 9);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  .menuButton:hover {
    background-color: white;
  }

  .hamburger {
    background-color: white;
    height: 35px;
    width: 32px;
    //display: none;
  }

  menu {
    width: 80vw;
    height: 0px;
    background: rgb(35, 36, 36);
    position: fixed;
    transition-property: height;
    transition-duration: 1s;
  }

  .menu-open {
    height: 25vh;
  }

  .menuLinks {
    margin-top: 35px;
    list-style: none;
    overflow: hidden;
  }

  @media (max-width: 1025px) {
    background-color: black;
    .hamburger {
      display: block;
    }
    .nav-links {
      display: none;
    }
    .menuLinks {
      padding: 80px;
    }
  }
  @media (max-width: 1025px) {
    .menuButton {
      display: block;
    }
  }

  @media (max-width: 400px) {
    background-color: black;
    .hamburger {
      display: block;
    }
    .nav-links {
      display: none;
    }
    .menuLinks {
      padding: 2px;
    }
  }
}
