main {
  background-color: mintcream;
  height: 100vh;
}
header {
  height: 20vh;
  background-color: hotpink;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    font-size: 100px;
    font-family: cambria;
  }
  h3 {
    font-size: 35px;
    font-family: sans-serif;
  }
}
